@*     ViewData["Title"] = "Home Page"; *@

<div class="text-center">
    <h1 class="display-4">Welcome (Home)</h1>
    <a href="@Url.Action("Chat", "Chat", new {firstItem=1})" class="btn btn-primary">Chat</a>
</div> 