@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="@Url.Action("SignUpHelper","Home")" class="btn btn-primary">Register</a>
</div>
