@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border">
        <div class="some container-fluid idk">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav list">
                    <li class="nav-item">
                        <a class="nav-link active highlights" aria-current="page" href="index.html">ГОЛОВНА</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link highlights" href="#s">НАШІ ПЕРЕВАГИ</a>
                    </li>
                    <li class="nav-item highlights">
                        <a class="nav-link" href="#q">ПРО НАС</a>
                    </li>
                    <li class="nav-item highlights">
                        <a class="nav-link" href="#">СПИСОК ОГОЛОШЕНЬ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="some container">
        <div class="row">
            <div class="col-12">
                <div class="img_block">
                    <div class="container notice">
                        <div class="row">
                            <div class="col-md-4 ms-auto"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 ms-auto">
                                <h3 class="nadiya">НАДІЯ Є</h3>
                                <h1 class="zav fw-bold">ЗАВЖДИ</h1>
                                <p class="fw-lighter text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum aliquam harum, animi, voluptatibus rerum, error vitae atque aut inventore as</p>
                            </div>
                            <div class="col-md-4 ms-md-auto"></div>
                            <div class="col-md-4 ms-md-auto" style="display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 250px;">
                                <a style="text-decoration: none;" href="registration_form.html">
                                    <button type="button" style="margin: 5px auto;" class="somebutt1 btn btn-outline-light">Зареєструватися</button>
                                </a>
                                <a style="text-decoration: none;" href="registred_form.html">
                                    <button style="margin: 5px auto; " class="somebutt2 btn btn-outline-light" type="button">Увійти</button>
                                </a>

                            </div>
                            <div class="col-md-3 ms-md-auto"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="main_block middle">
                <div class=" banner container text-center">
                    <div class="row justify-content-center desktop-gallery">
                        <div class="col-md-3 img_banner1">
                        </div>
                        <div id="s" class="col img_banner2">
                        </div>
                        <div class="col-md-3 img_banner4">
                        </div>
                    </div>
                    <div class="row desktop-gallery">
                        <div class="col img_banner3">
                        </div>
                        <div class="col img_banner5">
                        </div>
                    </div>

                    <div id="s" class="mobile-gallery">
                        <div class="mobile-gallery-element img_banner4"></div>
                        <div class="mobile-gallery-element img_banner1"></div>
                        <div class="mobile-gallery-element img_banner2"></div>
                        <div class="mobile-gallery-element img_banner3"></div>
                        <div class="mobile-gallery-element img_banner5"> </div>

                    </div>
                </div>
            </div>

            <div class="none">

                <div class="row none">
                    <div class="col-12 none">
                        <div class="under_middle none">
                            <div class="left">
                                <div class="lfe_elem first" id="q">
                                    <h4>ХТО МИ?</h4>
                                </div>
                                <div class="lfe_elem second">
                                    <h5 class="highlight">4+</h5>
                                    <p>Lorem ipsum dsam aliquid consequuntur praesenti</p>
                                </div>
                                <div class="lfe_elem third">
                                    <h5 class="highlight">17</h5>
                                    <p>Lorem ipsum dsam aliquid consequuntur praesenti</p>

                                </div>
                                <div class="lfe_elem fourth">
                                    <h5 class="highlight">320+</h5>
                                    <p>Lorem ipsum dsam aliquid consequuntur praesenti</p>

                                </div>
                            </div>
                            <div class="mid">
                            </div>
                            <div class="right">
                                <div class="right_elem right_top">
                                    <h2>Lorem ipsum poergjpe9jrpgojerijgieorgioehi</h2>
                                </div>
                                <hr class="border">
                                <div class="right_elem right_bot">
                                    <p class="lh-sm" style="text-align: justify;">
                                        Lorem ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis numquam esse facere doloremque fugit laborum. Saepe praesentium laboriosam, excepturi iste qui minima dolor, quis labore tempora a fuga ducimus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis numquam esse facere doloremque fugit laborum. Saepe praesentium laboriosam, excepturi iste qui minima dolor, quis labore tempora a fuga ducimus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis numquam esse facere doloremque fugit laborum. Saepe praesentium laboriosam, excepturi iste qui minima dolor, quis labore tempora a fuga ducimus.dolor sit amet, consectetur adipisicing elit. Minima officiis numquam esse facere doloremque fugit laborum. Saepe praesentium laboriosam, excepturi iste qui minima dolor, quis labore tempora a fuga ducimus.
                                    </p>
                                    <hr class="border">
                                    <p class="lh-sm" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum itaque iusto officia facilis. Provident esse aliquid cumque debitis inventore, soluta temporibus ratione. Velit, optio itaque. Modi ex obcaecati necessitatibus debitis!</p>
                                    <hr class="border">
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="under_middle_mobile">
                <div class="left"></div>
                <div class="mid"></div>
            </div>
            <div class="right-mobile"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>
</html>
