@{
    ViewData["Title"] = "User Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome (User)</h1>
    <a href="@Url.Action("SignUp", "User")" class="btn btn-primary">SignUp</a>
    <a href="@Url.Action("LogIn", "User")" class="btn btn-primary">LogIn</a>
    <a href="@Url.Action("Create", "Home")" class="btn btn-primary">Create</a>
</div>
